@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

body, html {
	height:100%;
	width:100%;
	margin:0;
	font-size:20px;
}

body{
	font-family:'Crimson Text';
}

h1,p {
	padding:20px;
	text-align:center;
}
section {
	margin:20px;
	float:left;
}
h1, p, ul {
	background:rgba(0, 157, 236,0.88);
}



